In [23]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [41]:
music_data=pd.read_csv('music.csv')
X=music_data.drop(columns=['genre'])
y=music_data['genre']
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)
model=DecisionTreeClassifier()
model.fit(X_train,y_train)
predictions=model.predict(X_test)
print(X_test)
accuracy_score(y_test,predictions)

    age  gender
17   35       0
11   25       0
7    33       1
15   31       0

1.0

    age  gender
3    26       1
14   30       0
13   27       0
2    25       1